.background
	min-height: 100vh
	height: 200vh
	width: 100vw
	background-color: white
	background-image: url(./img/chalkboard-background.jpg)
	background-repeat: repeat
	background-size: cover
	overflow: visible

.background-wrapper
	height: 100vh
	width: 100vw
	overflow: visible