.card--expanded
	position: relative
	z-index: 0
	opacity: 0
	transition: $transition
	position: relative
	max-height: 0vh
	overflow: hidden
	background-color: transparent
	/*Transitional
	.expanded-wrapper
		background-color: transparent
		padding-top: 3000vh
		width: 75%
		height: auto
		margin: 0 auto
		transition: $transition
		position: relative
		box-sizing: border-box
		@media only screen and (max-device-width: 450px)
			width: 95%
		ui-view
			&.ng-enter, &.ng-leave
				position: relative
				-webkit-transition: all .5s ease-in-out
				-moz-transition: all .5s ease-in-out
				-o-transition: all .5s ease-in-out
				transition: all .5s ease-in-out
.card--expanded-openanimtion
	-webkit-animation: uiview-open 800ms linear both
	animation: uiview-open 800ms linear both
	opacity: 1
	max-height: 200vh
	height: auto
	overflow: show
	.expanded-wrapper
		padding-top: 10vh
		@media only screen and (max-device-width: 450px)
			padding-top: 4vh
		ui-view
			&.ng-enter, &.ng-leave
				position: relative
				-webkit-transition: all .5s ease-in-out
				-moz-transition: all .5s ease-in-out
				-o-transition: all .5s ease-in-out
				transition: all .5s ease-in-out
			&.ng-enter
				color: transparent
				background-color: white
			&.ng-enter-active
				color: currentColor
			&.ng-leave
				color: currentColor
			&.ng-leave-active
				color: transparent
				background-color: white