.card-wrapper
	background-color: #FFF
	height: 80%
	width: 70%
	margin: 0 auto
	position: relative
	top: 8vh
	z-index: 1
	.card
		width: 95%
		margin: 0 auto
		height: 95%
		position: relative
		top: 2vh
		z-index: 1
		.cover-img
			width: 100%
			height: 70%
			overflow: hidden
			background-image: url(./img/camtaylorBWSnow.jpg)
			background-repeat: no-repeat
			background-size: cover
			background-position: bottom
			position: relative
		.card-flexbox
			display: flex
			overflow: hidden
			margin-top: 1%
			position: relative
	
.card--expanded
	background-color: purple
	width: 70vw
	height: 50vh
	margin: 0 auto
	position: relative
	z-index: 0
	padding-top: 10vh
			