card-content
	text-align: center
	flex-basis: 80%
	position: relative
	overflow: hidden
	h1
		position: relative
		left: 7%
		font-family: 'Parisienne', cursive
		font-size: 3em
		@media only screen and (max-device-width: 450px)
			font-size: 6em
			color: blue
			line-height: 1.5em
	p
		position: relative
		left: 7%
		font-size: 1.3em
		bottom: 2em
		@media only screen and (max-device-width: 450px)
			
			