card-content
	text-align: center
	flex-basis: 80%
	position: relative
	overflow: hidden
	h1
		position: relative
		left: 7%
		font-family: 'Parisienne', cursive
		font-size: 3em
		@media only screen and (max-device-width: 450px)
			font-size: 6em
			color: blue
			line-height: 1.5em
			a
				text-decoration: underline
		a
			&:nth-child(1)
				&:hover
					color: $pink
			&:nth-child(2)
				&:hover
					color: $green
	p
		position: relative
		left: 7%
		font-size: 1.3em
		bottom: 2em
		a
			text-transform: uppercase
			&:hover
				color: $maroon
				text-decoration: underline
		@media only screen and (max-device-width: 450px)
			
			