.rsvp
	padding: 3vh 8vw 4vh 8vw
	position: relative
	margin: -3vh 0 0 0
	background-color: lightgray
	box-shadow: $boxshadow
	.form-submit
		display: inline-block
		width: 20vw
		background-color: #FFF
		position: relative
		color: $pink
		font-size: 18px
		&:not([disabled]):hover
			background-color: #FFF
	.rsvpDone
		display: inline-block
		float: right
		h2
			color: $pink