//Variables
$transition: all .2s ease-in-out
$maroon: rgba(66, 12, 14 , 1.00)
$pink: #C85A71
$green: rgba(147, 154, 118, 1.00)
//End of Variables

//Animations
@import ./animations/uiview-open
//End of Animations

//Fonts
@import url(https://fonts.googleapis.com/css?family=Parisienne)
//End of Fonts

//SASS Imports
@import reset
@import global
@import background
@import card
@import card-content
@import card--expanded
@import countdown
@import cameronbio
@import taylorbio
@import rsvp
@import location
//End of Imports

//Notes
	// Colors
	// Maroon: rgba(66, 12, 14 , 1.00)
	// Pink: #C85A71
	// Green: rgba(147, 154, 118, 1.00)
	// Gold? : #BF9465