<div class="admin-main">
	<md-content>
		<div class="button-wrapper">
			<md-button class="md-raised" ng-click="showEditCameronBio($event)" flex="50" flex-gt-md="auto">
				Edit Cameron's Bio
		 </md-button>
			<md-button class="md-raised" ng-click="showEditTaylorBio($event)" flex="50" flex-gt-md="auto">
				Edit Taylor's Bio
		 </md-button>
		</div>
		<md-card ng-repeat="people in rsvpData" class="peopleRsvp">
			<div class="peopleTitle">
				<h3>{{people.firstName}} {{people.lastName}}</h3>
			</div>
					<span class="md-subhead">{{people.email}} // {{people.tel}}</span>
			<p>{{people.guests}}</p>
			<p>{{people.message}}</p>
			<md-card-actions layout="row" layout-align="end center">
				<a href="tel:{{people.tel}}">
					<md-button>Call</md-button>
				</a>
				<a href="mailto:{{people.email}}">
					<md-button>Email</md-button>
				</a>
			</md-card-actions>
		</md-card>
	</md-content>
</div>