<div class="cameron-bio">
	<h1>Cameron Bio is Working</h1>
	<p>
	Cameron was born in Provo on August 30th, 1994. He and his three siblings spent of their time growing up in both Tooele and Utah county. At 18, he was called on an LDS mission and spent the next two years of his life serving the people of Everett, Washington. He’s currently enrolled at Utah Valley University, majoring in business management.  Cameron is an extremely passionate person, especially when it comes to music, film, family, and friends. 
	</p>
</div>

<pictures></pictures>