
<div class="taylor-bio">
	<h1>Taylor Bio is Up</h1>
	<p>
	On August 29th, 1996 Taylor was born in Salt Lake City. She grew up in Saratoga Springs and has spent most of her life in Utah County. Taylor is a sophomore at Utah Valley University and is currently in her second year on the UVU Student Alumni Board of Directors, where she serves as marketing content manager and author to the association. Majoring in psychology, she hopes to one day open a practice providing therapy to veterans and first responders.
	</p>
</div>