<div class="templebtn" ng-cloak>
	<md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab>
				<md-tab-label>RSVP</md-tab-label>
        <md-tab-body>
					<rsvp></rsvp>
        </md-tab-body>
      </md-tab>
      <md-tab ng-click="ngMapInit()">
				<md-tab-label>Location</md-tab-label>
        <md-tab-body>
					<location></location>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>Registry</md-tab-label>
        <md-tab-body>
					<registry></registry>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-content>
</div>