<!DOCTYPE html>
<html data-ng-app="camtaylorApp">	
	<head>
		<title>Taylor & Cameron's Wedding</title>
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	</head>
	<body data-ng-controller="ctMain" ng-cloak>
		<div class="background">
			<div class="card-wrapper">
				<div class="card">
					<div class="cover-img" ng-cloak></div>
					<div class="card-flexbox">
						<card-content></card-content>
						<div class="countdown">
							<h2 id="countdown">{{countdown}}</h2>
							<a ui-sref="templebtn" ng-click="ngMapInit()">
								<md-button class="countdown-img md-raised" ng-click="uiviewOpen()" aria-label="Temple Button"></md-button>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="card--expanded-background">
				<div class="card--expanded" id="card--expanded" ng-hide="uiview">
					<div class="expanded-wrapper">
						<ui-view></ui-view>
					</div>
				</div>
			</div>
		</div>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEY2hjXNg9y0LyGxs4klbSgTFdsiwAxHE"></script>
	</body>
</html>