<div class="rsvp" ng-controller="ctRsvp">
	<h1>Rsvp</h1>
	<form>
		<div>
			<md-input-container>
				<label>First Name</label>
				<input type="text" ng-required="true" ng-model="rsvp.firstname"/>
			</md-input-container>
		</div>
		<div>
			<md-input-container>
				<label>Last Name</label>
				<input type="text" ng-required="true" ng-model="rsvp.lastname"/>
			</md-input-container>
		</div>
		<div>
			<md-input-container>
				<label>Email</label>
				<input type="email" ng-required="true" ng-pattern="/^.+@.+\..+$/" ng-model="rsvp.email"/>
			</md-input-container>
		</div>
		<div>
			<md-input-container>
				<label>Phone Number</label>
				<input type="tel" ng-required="true" minlength="10" ng-model="rsvp.tel"/>
			</md-input-container>
		</div>
		<div>
			<label class="guest-slider">You + {{guests}}</label>
			<md-slider flex md-discrete ng-model="guests" step="1" min="0" max="5" aria-label="Guests Slider"></md-slider>
		</div>
		<div>
			<md-input-container>
				<label class="message-label">Message</label>
				<textarea ng-model="rsvp.message" ng-required="true"></textarea>
			</md-input-container>
		</div>
		<md-button class="form-submit md-raised" ng-click="enterRsvp()">{{rsvpDone}}</md-button>
	</form>
</div>